@{
    ViewData["Title"] = "Widget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

				<div class="row ">
					<div class="col-xl-12">
						<div class="page-titles">
							<div class="d-flex align-items-center flex-wrap ">
								<h3 class="heading mb-0">Widget</h3>
							</div>
						</div>
					</div>
                </div>
                <!-- row -->
                <div class="row">
					<div class="col-xl-12 col-lg-12 col-sm-12">
						<div class="row">
							<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
								<div class="widget-stat card bg-primary">
									<div class="card-header border-0 pb-0">
										<h3 class="card-title text-white">Total Students</h3>
										<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 422</h5>
									</div>
									<div class="card-body text-center">
										<div class="ico-sparkline">
											<div id="sparkline12"><canvas width="100" height="100" style="display: inline-block; width: 100px; height: 100px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
								<div class="widget-stat card bg-warning overflow-hidden">
									<div class="card-header border-0 ">
										<h3 class="card-title text-white">New Students</h3>
										<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 357</h5>
									</div>
									<div class="card-body text-center p-0">
										<div class="ico-sparkline">
											<div id="spark-bar-2"><canvas width="290" height="140" style="display: inline-block; width: 290px; height: 140px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
								<div class="widget-stat card bg-secondary overflow-hidden">
									<div class="card-header pb-3 border-0 pb-0">
										<h3 class="card-title text-white">Total Course</h3>
										<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 547</h5>
									</div>
									<div class="card-body p-0">
										<div class="px-4"><span class="bar1" data-peity="{ &quot;fill&quot;: [&quot;rgb(255, 255, 255)&quot;, &quot;rgb(255, 255, 255)&quot;]}" style="display: none;">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span><svg class="peity" height="140" width="100%"><rect data-value="6" fill="#01a3ff" x="1.5375" y="24.705882352941188" width="12.3" height="49.41176470588235"></rect><rect data-value="2" fill="#ffaa2b" x="16.9125" y="57.647058823529406" width="12.299999999999997" height="16.47058823529413"></rect><rect data-value="8" fill="#3693FF" x="32.2875" y="8.235294117647072" width="12.299999999999997" height="65.88235294117646"></rect><rect data-value="4" fill="#01a3ff" x="47.6625" y="41.17647058823529" width="12.299999999999997" height="32.941176470588246"></rect><rect data-value="-3" fill="#ffaa2b" x="63.0375" y="74.11764705882354" width="12.300000000000004" height="24.70588235294116"></rect><rect data-value="8" fill="#3693FF" x="78.4125" y="8.235294117647072" width="12.300000000000011" height="65.88235294117646"></rect><rect data-value="1" fill="#01a3ff" x="93.7875" y="65.88235294117646" width="12.300000000000011" height="8.235294117647072"></rect><rect data-value="-3" fill="#ffaa2b" x="109.1625" y="74.11764705882354" width="12.300000000000011" height="24.70588235294116"></rect><rect data-value="6" fill="#3693FF" x="124.5375" y="24.705882352941188" width="12.300000000000011" height="49.41176470588235"></rect><rect data-value="-5" fill="#01a3ff" x="139.9125" y="74.11764705882354" width="12.300000000000011" height="41.17647058823529"></rect><rect data-value="9" fill="#ffaa2b" x="155.2875" y="0" width="12.300000000000011" height="74.11764705882354"></rect><rect data-value="2" fill="#3693FF" x="170.6625" y="57.647058823529406" width="12.300000000000011" height="16.47058823529413"></rect><rect data-value="-8" fill="#01a3ff" x="186.0375" y="74.11764705882354" width="12.300000000000011" height="65.88235294117646"></rect><rect data-value="1" fill="#ffaa2b" x="201.4125" y="65.88235294117646" width="12.300000000000011" height="8.235294117647072"></rect><rect data-value="4" fill="#3693FF" x="216.7875" y="41.17647058823529" width="12.300000000000011" height="32.941176470588246"></rect><rect data-value="8" fill="#01a3ff" x="232.1625" y="8.235294117647072" width="12.300000000000011" height="65.88235294117646"></rect><rect data-value="9" fill="#ffaa2b" x="247.5375" y="0" width="12.299999999999983" height="74.11764705882354"></rect><rect data-value="8" fill="#3693FF" x="262.9125" y="8.235294117647072" width="12.299999999999955" height="65.88235294117646"></rect><rect data-value="2" fill="#01a3ff" x="278.2875" y="57.647058823529406" width="12.299999999999955" height="16.47058823529413"></rect><rect data-value="1" fill="#ffaa2b" x="293.6625" y="65.88235294117646" width="12.299999999999955" height="8.235294117647072"></rect></svg>
                                        </div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
								<div class="widget-stat card bg-danger overflow-hidden">
									<div class="card-header pb-3 border-0 pb-0">
										<h3 class="card-title text-white">Fees Collection</h3>
										<h5 class="text-white mb-0"><i class="fa fa-caret-up"></i> 3280$</h5>
									</div>
									<div class="card-body p-0">
										<span class="peity-line-2" data-width="100%" style="display: none;">7,6,8,7,3,8,3,3,6,5,9,2,8</span><svg class="peity" height="150" width="100%"><polygon fill="#fa707e" points="0 148.5 0 34.16666666666667 30.625 50.5 61.25 17.833333333333343 91.875 34.16666666666667 122.5 99.5 153.125 17.833333333333343 183.75 99.5 214.375 99.5 245 50.5 275.625 66.83333333333333 306.25 1.5 336.875 115.83333333333334 367.5 17.833333333333343 367.5 148.5"></polygon><polyline fill="none" points="0 34.16666666666667 30.625 50.5 61.25 17.833333333333343 91.875 34.16666666666667 122.5 99.5 153.125 17.833333333333343 183.75 99.5 214.375 99.5 245 50.5 275.625 66.83333333333333 306.25 1.5 336.875 115.83333333333334 367.5 17.833333333333343" stroke="#f77f8b" stroke-width="3" stroke-linecap="square"></polyline></svg>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-xxl-8 col-lg-12 col-sm-12">
                        <div id="user-activity" class="card">
                            <div class="card-header border-0 pb-0 d-sm-flex d-block">
                                <h4 class="card-title">Visitor Activity</h4>
                                <div class="card-action mb-sm-0 my-2">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#user" role="tab">
                                                Day
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#bounce" role="tab">
                                                Month
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#session-duration" role="tab">
                                                Year
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="user" role="tabpanel">
                                        <canvas id="activity" class="chartjs" height="270" style="display: block; box-sizing: border-box; height: 270px; width: 970px;" width="970"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-4 col-lg-6 col-sm-6">
                        <div class="card active_users">
                            <div class="card-header bg-primary border-0 pb-0">
                                <h4 class="card-title text-white">Active Users</h4>
                                <span id="counter"></span>
                            </div>
							<div class="bg-primary">
								<canvas id="activeUser" width="500" height="150" style="display: block; box-sizing: border-box; height: 150px; width: 500px;"></canvas>
							</div>
                            <div class="card-body pt-0">
                                <div class="list-group-flush mt-4">
                                    <div class="list-group-item bg-transparent d-flex justify-content-between px-0 py-1 fw-semi-bold border-top-0">
                                        <p class="mb-0">Top Active Pages</p>
                                        <p class="mb-0">Active Users</p>
                                    </div>
                                    <div class="list-group-item bg-transparent d-flex justify-content-between px-0 py-1">
                                        <p class="mb-0">/bootstrap-themes/</p>
                                        <p class="mb-0">3</p>
                                    </div>
                                    <div class="list-group-item bg-transparent d-flex justify-content-between px-0 py-1">
                                        <p class="mb-0">/tags/html5/</p>
                                        <p class="mb-0">3</p>
                                    </div>
                                    <div class="list-group-item bg-transparent d-xxl-flex justify-content-between px-0 py-1 d-none">
                                        <p class="mb-0">/</p>
                                        <p class="mb-0">2</p>
                                    </div>
                                    <div class="list-group-item bg-transparent d-xxl-flex justify-content-between px-0 py-1 d-none">
                                        <p class="mb-0">/preview/falcon/dashboard/</p>
                                        <p class="mb-0">2</p>
                                    </div>
                                    <div class="list-group-item bg-transparent d-flex justify-content-between px-0 py-1">
                                        <p class="mb-0">/100-best-themes...all-time/</p>
                                        <p class="mb-0">1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-xl-8 col-lg-12 col-xxl-8 col-sm-12">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-xxl-6 col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<div class="clearfix">
											<h3 class="card-title">Blood pressure</h3>
											<span>In the normal</span>
										</div>
										<div class="clearfix text-center">
											<h3 class="text-primary mb-0">120/89</h3>
											<span>mmHG</span>
										</div>
									</div>
									<div class="card-body text-center">
										<div class="ico-sparkline">
											<div id="spark-bar"><canvas width="188" height="200" style="display: inline-block; width: 188px; height: 200px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-xxl-6 col-md-6">
								<div class="card">
									<div class="card-header border-0 pb-0">
										<div class="clearfix">
											<h3 class="card-title">Heart Rate</h3>
											<span class="text-danger">Above the normal</span>
										</div>
										<div class="clearfix text-center">
											<h3 class="text-danger mb-0">107</h3>
											<span>Per Min</span>
										</div>
									</div>
									<div class="card-body text-center">
										<div class="ico-sparkline">
											<div id="composite-bar"><canvas width="208" height="200" style="display: inline-block; width: 208px; height: 200px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-xxl-6 col-md-6">
								<div class="card overflow-hidden">
									<div class="card-header border-0 pb-0">
										<div class="clearfix">
											<h3 class="card-title">Glucose Rate</h3>
											<span>In the normal</span>
										</div>
										<div class="clearfix text-center">
											<h3 class="text-success mb-0">97</h3>
											<span>mg/dl</span>
										</div>
									</div>
									<div class="card-body text-center">
										<div class="ico-sparkline">
											<div id="sparkline8"><canvas width="440" height="50" style="display: inline-block; width: 440px; height: 50px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-xxl-6 col-md-6">
								<div class="card overflow-hidden">
									<div class="card-header border-0 pb-0">
										<div class="clearfix">
											<h3 class="card-title">Clolesterol</h3>
											<span>In the normal</span>
										</div>
										<div class="clearfix text-center">
											<h3 class="text-info mb-0">124</h3>
											<span>mg/dl</span>
										</div>
									</div>
									<div class="card-body text-center">
										<div class="ico-sparkline">
											<div id="sparkline9" class="height80;"><canvas width="440" height="50" style="display: inline-block; width: 440px; height: 50px; vertical-align: top;"></canvas></div>
										</div>
									</div>
								</div>
							</div>
                        </div>
					</div>
					<div class="col-xl-4">
						<div class="card">
							<div class="card-header border-0">
								<h2 class="heading">Email </h2>
								<div class="dropdown custom-dropdown">
									<div class="btn sharp btn-primary tp-btn " data-bs-toggle="dropdown">
										<svg width="6" height="20" viewBox="0 0 6 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.19995 10.001C5.19995 9.71197 5.14302 9.42576 5.03241 9.15872C4.9218 8.89169 4.75967 8.64905 4.55529 8.44467C4.35091 8.24029 4.10828 8.07816 3.84124 7.96755C3.5742 7.85694 3.28799 7.80001 2.99895 7.80001C2.70991 7.80001 2.4237 7.85694 2.15667 7.96755C1.88963 8.07816 1.64699 8.24029 1.44261 8.44467C1.23823 8.64905 1.0761 8.89169 0.965493 9.15872C0.854882 9.42576 0.797952 9.71197 0.797952 10.001C0.798085 10.5848 1.0301 11.1445 1.44296 11.5572C1.85582 11.9699 2.41571 12.2016 2.99945 12.2015C3.58319 12.2014 4.14297 11.9694 4.55565 11.5565C4.96832 11.1436 5.20008 10.5838 5.19995 10L5.19995 10.001ZM5.19995 3.00101C5.19995 2.71197 5.14302 2.42576 5.03241 2.15872C4.9218 1.89169 4.75967 1.64905 4.55529 1.44467C4.35091 1.24029 4.10828 1.07816 3.84124 0.967552C3.5742 0.856941 3.28799 0.800011 2.99895 0.800011C2.70991 0.800011 2.4237 0.856941 2.15667 0.967552C1.88963 1.07816 1.64699 1.24029 1.44261 1.44467C1.23823 1.64905 1.0761 1.89169 0.965493 2.15872C0.854883 2.42576 0.797953 2.71197 0.797953 3.00101C0.798085 3.58475 1.0301 4.14453 1.44296 4.55721C1.85582 4.96988 2.41571 5.20164 2.99945 5.20151C3.58319 5.20138 4.14297 4.96936 4.55565 4.5565C4.96832 4.14364 5.20008 3.58375 5.19995 3.00001L5.19995 3.00101ZM5.19995 17.001C5.19995 16.712 5.14302 16.4258 5.03241 16.1587C4.9218 15.8917 4.75967 15.6491 4.55529 15.4447C4.35091 15.2403 4.10828 15.0782 3.84124 14.9676C3.5742 14.8569 3.28799 14.8 2.99895 14.8C2.70991 14.8 2.4237 14.8569 2.15666 14.9676C1.88963 15.0782 1.64699 15.2403 1.44261 15.4447C1.23823 15.6491 1.0761 15.8917 0.965493 16.1587C0.854882 16.4258 0.797952 16.712 0.797952 17.001C0.798084 17.5848 1.0301 18.1445 1.44296 18.5572C1.85582 18.9699 2.41571 19.2016 2.99945 19.2015C3.58319 19.2014 4.14297 18.9694 4.55565 18.5565C4.96832 18.1436 5.20008 17.5838 5.19995 17L5.19995 17.001Z" fill="#01A3FF"></path>
										</svg>
									</div>
									<div class="dropdown-menu dropdown-menu-end">
										<a class="dropdown-item" href="javascript:void(0);">Option 1</a>
										<a class="dropdown-item" href="javascript:void(0);">Option 2</a>
										<a class="dropdown-item" href="javascript:void(0);">Option 3</a>
									</div>
								</div>
							</div>
							<div class="card-body text-center pt-0 pb-2" style="position: relative;">
								<div id="pieChart" class="d-inline-block" style="min-height: 182.8px;"><div id="apexchartst3qre8c6" class="apexcharts-canvas apexchartst3qre8c6 apexcharts-theme-light" style="width: 300px; height: 182.8px;"><svg id="SvgjsSvg1006" width="300" height="182.79999999999998" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1008" class="apexcharts-inner apexcharts-graphical" transform="translate(63, 0)"><defs id="SvgjsDefs1007"><clipPath id="gridRectMaskt3qre8c6"><rect id="SvgjsRect1010" width="180" height="198" x="-2" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskt3qre8c6"><rect id="SvgjsRect1011" width="180" height="202" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><g id="SvgjsG1012" class="apexcharts-pie"><g id="SvgjsG1013" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1014" r="65.4829268292683" cx="88" cy="88" fill="transparent"></circle><g id="SvgjsG1015" class="apexcharts-slices"><g id="SvgjsG1016" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1017" d="M 88 6.146341463414629 A 81.85365853658537 81.85365853658537 0 0 1 136.11237333398878 21.778999192138443 L 126.48989866719103 35.02319935371076 A 65.4829268292683 65.4829268292683 0 0 0 88 22.517073170731706 L 88 6.146341463414629 z" fill="rgba(42,53,58,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" data:angle="36" data:startAngle="0" data:strokeWidth="0" data:value="10" data:pathOrig="M 88 6.146341463414629 A 81.85365853658537 81.85365853658537 0 0 1 136.11237333398878 21.778999192138443 L 126.48989866719103 35.02319935371076 A 65.4829268292683 65.4829268292683 0 0 0 88 22.517073170731706 L 88 6.146341463414629 z"></path></g><g id="SvgjsG1018" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1019" d="M 136.11237333398878 21.778999192138443 A 81.85365853658537 81.85365853658537 0 0 1 165.84745533381795 113.29417153956886 L 150.27796426705436 108.2353372316551 A 65.4829268292683 65.4829268292683 0 0 0 126.48989866719103 35.02319935371076 L 136.11237333398878 21.778999192138443 z" fill="rgba(43,200,68,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="72" data:startAngle="36" data:strokeWidth="0" data:value="20" data:pathOrig="M 136.11237333398878 21.778999192138443 A 81.85365853658537 81.85365853658537 0 0 1 165.84745533381795 113.29417153956886 L 150.27796426705436 108.2353372316551 A 65.4829268292683 65.4829268292683 0 0 0 126.48989866719103 35.02319935371076 L 136.11237333398878 21.778999192138443 z"></path></g><g id="SvgjsG1020" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx3" rel="3" data:realIndex="2"><path id="SvgjsPath1021" d="M 165.84745533381795 113.29417153956886 A 81.85365853658537 81.85365853658537 0 0 1 21.778999192138457 136.11237333398878 L 35.023199353710766 126.48989866719103 A 65.4829268292683 65.4829268292683 0 0 0 150.27796426705436 108.2353372316551 L 165.84745533381795 113.29417153956886 z" fill="rgba(149,104,255,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="126" data:startAngle="108" data:strokeWidth="0" data:value="35" data:pathOrig="M 165.84745533381795 113.29417153956886 A 81.85365853658537 81.85365853658537 0 0 1 21.778999192138457 136.11237333398878 L 35.023199353710766 126.48989866719103 A 65.4829268292683 65.4829268292683 0 0 0 150.27796426705436 108.2353372316551 L 165.84745533381795 113.29417153956886 z"></path></g><g id="SvgjsG1022" class="apexcharts-series apexcharts-pie-series" seriesName="seriesx4" rel="4" data:realIndex="3"><path id="SvgjsPath1023" d="M 21.778999192138457 136.11237333398878 A 81.85365853658537 81.85365853658537 0 0 1 87.98571384160985 6.146342710117139 L 87.98857107328789 22.517074168093714 A 65.4829268292683 65.4829268292683 0 0 0 35.023199353710766 126.48989866719103 L 21.778999192138457 136.11237333398878 z" fill="rgba(60,138,255,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="126" data:startAngle="234" data:strokeWidth="0" data:value="35" data:pathOrig="M 21.778999192138457 136.11237333398878 A 81.85365853658537 81.85365853658537 0 0 1 87.98571384160985 6.146342710117139 L 87.98857107328789 22.517074168093714 A 65.4829268292683 65.4829268292683 0 0 0 35.023199353710766 126.48989866719103 L 21.778999192138457 136.11237333398878 z"></path></g></g></g></g><line id="SvgjsLine1024" x1="0" y1="0" x2="176" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1025" x1="0" y1="0" x2="176" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1009" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 100px;"></div><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(42, 53, 58);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(43, 200, 68);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(149, 104, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(60, 138, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
								<div class="chart-items">
										<!-- --row-- -->
										<div class="row">
											<!-- ----column-- -->
											<div class=" col-xl-12 col-sm-12">
												<div class="text-black text-start mt-2">
													<span class="font-w600 mb-3 d-block">Legend</span>
													<div class="color-picker">
														<span class="mb-0 col-6">
															<svg class="me-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect width="14" height="14" rx="4" fill="#9568FF" "=""></rect>
															</svg>
															Primary (27%)
														</span>
														<h5>763</h5>													
													</div>
													<div class="color-picker">
														<span class="mb-0 col-6">
															<svg class="me-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect width="14" height="14" rx="4" fill="#FF5166"></rect>
															</svg>
															Promotion (11%)
														</span>
														<h5>321</h5>
													</div>
													<div class="color-picker">
														<span class="mb-0 col-6">
															<svg class="me-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect width="14" height="14" rx="4" fill="#ED3DD1"></rect>
															</svg>
															Forum (22%)
														</span>
														<h5>154</h5>
													</div>
													<div class="color-picker">
														<span class="mb-0 col-6">
															<svg class="me-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect width="14" height="14" rx="4" fill="#2BC844"></rect>
															</svg>
															Socials (15%)
														</span>
														<h5>154</h5>
													</div>	
												</div>
											</div>
											<!-- ----/column-- -->
										</div>
										<!-- --/row-- -->
									</div>
							<div class="resize-triggers"><div class="expand-trigger"><div style="width: 501px; height: 371px;"></div></div><div class="contract-trigger"></div></div></div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-xxl-6 col-sm-6">
                        <div class="card bg-primary">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="text-white">Power</h5>
                                        <span class="text-white">2017.1.20</span>
                                    </div>
                                    <div class="col text-end">
                                        <h5 class="text-white"><i class="fa fa-caret-up"></i> 260</h5>
                                        <span class="text-white">+12.5(2.8%)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_1" width="765" height="150" style="display: block; box-sizing: border-box; height: 150px; width: 765px;"></canvas>
                            </div>
                        </div>
                    </div>
					<div class="col-xl-6 col-lg-6 col-xxl-6 col-sm-6">
                        <div class="card bg-success overflow-hidden">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="text-white">Power</h5>
                                        <span class="text-white">2017.1.20</span>
                                    </div>
                                    <div class="col text-end">
                                        <h5 class="text-white"><i class="fa fa-caret-up"></i> 260</h5>
                                        <span class="text-white">+12.5(2.8%)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <div id="chart_widget_5"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"></g><g><g class="ct-series ct-series-a"><path d="M0,150L0,66.571L109.286,45.714L218.571,118.714L327.857,24.857L437.143,4L546.429,35.286L655.714,29.029L765,54.057L765,150Z" class="ct-area"></path><path d="M0,66.571L109.286,45.714L218.571,118.714L327.857,24.857L437.143,4L546.429,35.286L655.714,29.029L765,54.057" class="ct-line"></path><line x1="0" y1="66.57142857142857" x2="0.01" y2="66.57142857142857" class="ct-point" ct:value="4"></line><line x1="109.28571428571429" y1="45.71428571428571" x2="109.2957142857143" y2="45.71428571428571" class="ct-point" ct:value="5"></line><line x1="218.57142857142858" y1="118.71428571428572" x2="218.58142857142857" y2="118.71428571428572" class="ct-point" ct:value="1.5"></line><line x1="327.8571428571429" y1="24.85714285714286" x2="327.8671428571429" y2="24.85714285714286" class="ct-point" ct:value="6"></line><line x1="437.14285714285717" y1="4" x2="437.15285714285716" y2="4" class="ct-point" ct:value="7"></line><line x1="546.4285714285714" y1="35.28571428571429" x2="546.4385714285714" y2="35.28571428571429" class="ct-point" ct:value="5.5"></line><line x1="655.7142857142858" y1="29.02857142857144" x2="655.7242857142858" y2="29.02857142857144" class="ct-point" ct:value="5.8"></line><line x1="765" y1="54.057142857142864" x2="765.01" y2="54.057142857142864" class="ct-point" ct:value="4.6"></line></g></g><g class="ct-labels"></g></svg></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-xxl-6 col-sm-6">
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col">
                                        <h5>3650</h5>
                                        <span>VIEWS OF YOUR PROJECT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_2" width="765" height="150" style="display: block; box-sizing: border-box; height: 150px; width: 765px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-xxl-6 col-sm-6">
						<div class="card">
							<div class="card-body">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<h4 class="text-uppercase">74,206 K</h4>
										<span>Lifetime earnings</span>
									</div>
									<div class="col-auto">
										<div class="chart-wrapper height100">
											<canvas id="chart_widget_7" width="300" height="100" style="display: block; box-sizing: border-box; height: 100px; width: 300px;"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
                    <div class="col-xl-12 col-xxl-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body pb-0">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h5>Lorem Ipsum</h5>
                                            </div>
                                            <div class="col-auto">
                                                <h5>
                                                    <span><i class="fa fa-caret-up"></i></span>
                                                    <span>2,250</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <div id="chart_widget_6"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"></g><g><g class="ct-series ct-series-a"><path d="M0,150L0,52.667L109.286,28.333L218.571,64.833L327.857,28.333L437.143,52.667L546.429,16.167L655.714,57.533L765,38.067L765,150Z" class="ct-area"></path><path d="M0,52.667L109.286,28.333L218.571,64.833L327.857,28.333L437.143,52.667L546.429,16.167L655.714,57.533L765,38.067" class="ct-line"></path><line x1="0" y1="52.66666666666667" x2="0.01" y2="52.66666666666667" class="ct-point" ct:value="4"></line><line x1="109.28571428571429" y1="28.33333333333333" x2="109.2957142857143" y2="28.33333333333333" class="ct-point" ct:value="5"></line><line x1="218.57142857142858" y1="64.83333333333333" x2="218.58142857142857" y2="64.83333333333333" class="ct-point" ct:value="3.5"></line><line x1="327.8571428571429" y1="28.33333333333333" x2="327.8671428571429" y2="28.33333333333333" class="ct-point" ct:value="5"></line><line x1="437.14285714285717" y1="52.66666666666667" x2="437.15285714285716" y2="52.66666666666667" class="ct-point" ct:value="4"></line><line x1="546.4285714285714" y1="16.166666666666657" x2="546.4385714285714" y2="16.166666666666657" class="ct-point" ct:value="5.5"></line><line x1="655.7142857142858" y1="57.533333333333346" x2="655.7242857142858" y2="57.533333333333346" class="ct-point" ct:value="3.8"></line><line x1="765" y1="38.06666666666668" x2="765.01" y2="38.06666666666668" class="ct-point" ct:value="4.6"></line></g></g><g class="ct-labels"></g></svg></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body pb-0">
                                        <div class="row justify-content-between">
                                            <div class="col-auto">
                                                <h5>Lorem Ipsum</h5>
                                            </div>
                                            <div class="col-auto">
                                                <h5>
                                                    <span><i class="fa fa-caret-up"></i></span>
                                                    <span>2,250</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="chart_widget_3" width="765" height="150" style="display: block; box-sizing: border-box; height: 150px; width: 765px;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                            <div class="col text-center">
                                                <h5 class="fw-normal">1230</h5>
                                                <span>Type A</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card overflow-hidden">
                            <div class="card-body pb-0">
                                <h4 class="card-title text-uppercase fw-normal">Market Now</h4>
                                <h2 class="fw-normal text-danger">
                                    <span><i class="fa fa-caret-up"></i></span>
                                    <span>3454664</span>
                                </h2>
                                <div class="row mt-5">
                                    <div class="col text-center">
                                        <h5 class="fw-normal">APPL</h5>
                                        <span class="text-success">+ 82.24 %</span>
                                    </div>
                                    <div class="col text-center">
                                        <h5 class="fw-normal">FB</h5>
                                        <span class="text-danger">- 12.24 %</span>
                                    </div>
                                    <div class="col text-center">
                                        <h5 class="fw-normal">GOOG</h5>
                                        <span class="text-success">+ 42.24 %</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_4" width="765" height="255" style="display: block; box-sizing: border-box; height: 255px; width: 765px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-body pb-0">
                                <h4 class="card-title text-uppercase fw-normal">Sales Analysis</h4>
                                <h2 class="fw-normal text-danger">
                                    <span><i class="fa fa-caret-up"></i></span>
                                    <span>3454664</span>
                                </h2>
                                <div class="row mt-5">
                                    <div class="col text-center">
                                        <h5 class="fw-normal">Today</h5>
                                        <span class="text-success">+ 8224</span>
                                    </div>
                                    <div class="col text-center">
                                        <h5 class="fw-normal">Today</h5>
                                        <span class="text-danger">- 1224</span>
                                    </div>
                                    <div class="col text-center">
                                        <h5 class="fw-normal">Week</h5>
                                        <span class="text-success">+ 4224</span>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <div id="chart_widget_8"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;"><g class="ct-grids"></g><g><g class="ct-series ct-series-a"><path d="M0,111.571L109.286,75.714L218.571,201.214L327.857,39.857L437.143,4L546.429,57.786L655.714,47.029L765,90.057" class="ct-line"></path><line x1="0" y1="111.57142857142858" x2="0.01" y2="111.57142857142858" class="ct-point" ct:value="4"></line><line x1="109.28571428571429" y1="75.71428571428572" x2="109.2957142857143" y2="75.71428571428572" class="ct-point" ct:value="5"></line><line x1="218.57142857142858" y1="201.21428571428572" x2="218.58142857142857" y2="201.21428571428572" class="ct-point" ct:value="1.5"></line><line x1="327.8571428571429" y1="39.85714285714286" x2="327.8671428571429" y2="39.85714285714286" class="ct-point" ct:value="6"></line><line x1="437.14285714285717" y1="4" x2="437.15285714285716" y2="4" class="ct-point" ct:value="7"></line><line x1="546.4285714285714" y1="57.78571428571428" x2="546.4385714285714" y2="57.78571428571428" class="ct-point" ct:value="5.5"></line><line x1="655.7142857142858" y1="47.02857142857144" x2="655.7242857142858" y2="47.02857142857144" class="ct-point" ct:value="5.8"></line><line x1="765" y1="90.05714285714288" x2="765.01" y2="90.05714285714288" class="ct-point" ct:value="4.6"></line></g></g><g class="ct-labels"></g></svg></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
							<div class="card-header border-0 pb-0">
								<h4 class="card-title">Top Products</h4>
							</div>
                            <div class="card-body pb-0">
                                <div class="widget-media">
									<ul class="timeline">
										<li>
											<div class="timeline-panel">
												<div class="media me-2">
													<img alt="image" width="50" src="images/avatar/1.jpg">
												</div>
												<div class="media-body">
													<h5 class="mb-1">Dr sultads Send you Photo</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-panel">
												<div class="media me-2 media-info">
													KG
												</div>
												<div class="media-body">
													<h5 class="mb-1">Resport created successfully</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-info light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-panel">
												<div class="media me-2 media-success">
													<i class="fa fa-home"></i>
												</div>
												<div class="media-body">
													<h5 class="mb-1">Reminder : Treatment Time!</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
									</ul>	
								</div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_9" width="765" height="250" style="display: block; box-sizing: border-box; height: 250px; width: 765px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="card">
							<div class="card-header border-0 pb-0">
								<h4 class="card-title">Top Products</h4>
							</div>
                            <div class="card-body pb-0">
                                <div class="widget-media">
									<ul class="timeline">
										<li>
											<div class="timeline-panel">
												<div class="media me-2">
													<img alt="image" width="50" src="images/avatar/4.jpg">
												</div>
												<div class="media-body">
													<h5 class="mb-1">Dr sultads Send you Photo</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-primary light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-panel">
												<div class="media me-2 media-info">
													<img alt="image" width="50" src="images/avatar/2.jpg">
												</div>
												<div class="media-body">
													<h5 class="mb-1">Resport created successfully</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-info light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="timeline-panel">
												<div class="media me-2 media-success">
													<img alt="image" width="50" src="images/avatar/3.jpg">
												</div>
												<div class="media-body">
													<h5 class="mb-1">Reminder : Treatment Time!</h5>
													<small class="d-block">29 July 2020 - 02:26 PM</small>
												</div>
												<div class="dropdown">
													<button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
														<svg width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
													</button>
													<div class="dropdown-menu dropdown-menu-end">
														<a class="dropdown-item" href="#">Edit</a>
														<a class="dropdown-item" href="#">Delete</a>
													</div>
												</div>
											</div>
										</li>
									</ul>	
								</div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_10" width="765" height="250" style="display: block; box-sizing: border-box; height: 250px; width: 765px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-8 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12">
								<div class="card overflow-hidden">
									<div class="row no-gutters">
										<div class="col-5 p-0">
											<div class="card-body">
												<h6 class="fw-normal text-uppercase">Weekly sales</h6>
												<h4>$ 14000</h4>
												<div>
													<span class="badge badge-light">60%</span>
													<span>Higher</span>
												</div>
											</div>
										</div>
										<div class="col-7 p-0">
											<div class="chart-wrapper">
												<canvas id="chart_widget_11" width="463" height="270" style="display: block; box-sizing: border-box; height: 270px; width: 463px;"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>570</h5>
                                        <p>All Sales</p>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="chart_widget_14" height="200" style="display: block; box-sizing: border-box; height: 200px; width: 367px;" width="367"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>570</h5>
                                        <p>All Sales</p>
                                    </div>
                                    <div class="chart-wrapper">
                                        <canvas id="chart_widget_15" height="200" style="display: block; box-sizing: border-box; height: 200px; width: 367px;" width="367"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-xxl-4 col-lg-12">
                        <div class="card">
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_16" height="345" style="display: block; box-sizing: border-box; height: 345px; width: 765px;" width="765"></canvas>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Sales Status</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-between">
                                            <h6>67%</h6>
                                            <span>Grow</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="d-flex justify-content-between">
                                            <h6>67%</h6>
                                            <span>Grow</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width: 70%"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="d-flex justify-content-between">
                                            <h6>67%</h6>
                                            <span>Grow</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <div class="d-flex justify-content-between">
                                            <h6>67%</h6>
                                            <span>Grow</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" style="width: 80%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                