@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                <!-- row -->
				<div class="row">
					<div class="col-xl-3 col-lg-4">
						<div class="clearfix">
							<div class="card card-bx profile-card author-profile m-b30">
								<div class="card-body">
									<div class="p-5">
										<div class="author-profile">
											<div class="author-media">
												<img src="~/Assets/images/user.jpg" alt="">
												<div class="upload-link" title="" data-toggle="tooltip" data-placement="right" data-original-title="update">
													<input type="file" class="update-flie">
													<i class="fa fa-camera"></i>
												</div>
											</div>
											<div class="author-info">
												<h6 class="title">Nella Vita</h6>
												<span>Developer</span>
											</div>
										</div>
									</div>
									<div class="info-list">
										<ul>
											<li><a href="app-profile.html">Models</a><span>36</span></li>
											<li><a href="uc-lightgallery.html">Gallery</a><span>3</span></li>
											<li><a href="app-profile.html">Lessons</a><span>1</span></li>
										</ul>
									</div>
								</div>
								<div class="card-footer">
									<div class="input-group mb-3">
										<div class="form-control rounded text-center bg-white">Portfolio</div>
									</div>
									<div class="input-group">
										<a href="https://www.dexignlab.com/" class="form-control text-primary rounded text-start bg-white">https://www.dexignlab.com/</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-8">
						<div class="card profile-card card-bx m-b30">
							<div class="card-header">
								<h6 class="title">Account setup</h6>
							</div>
							<form class="profile-form">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-6 m-b30">
											<label class="form-label">Name</label>
											<input type="text" class="form-control" value="John">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Surname</label>
											<input type="text" class="form-control">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Specialty</label>
											<input type="text" class="form-control" value="Developer">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Skills</label>
											<input type="text" class="form-control" value="HTML,  JavaScript,  PHP">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Gender</label>
											<div class="dropdown bootstrap-select"><select class="selectpicker">
												<option>Male</option>
												<option>Female</option>
												<option>Other</option>
											</select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Male"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Male</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Birth</label>
											<input type="text" class="form-control" placeholder="dd. mm .yyyy">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Phone</label>
											<input type="text" class="form-control" value="+123456789">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Email address</label>
											<input type="text" class="form-control" value="demo@gmail.com">
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">Country</label>
											<div class="dropdown bootstrap-select"><select class="selectpicker">
												<option>Russia</option>
												<option>Canada</option>
												<option>China</option>
												<option>India</option>
											</select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" title="Russia"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Russia</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
										</div>
										<div class="col-sm-6 m-b30">
											<label class="form-label">City</label>
											<div class="dropdown bootstrap-select"><select class="selectpicker">
												<option>Krasnodar</option>
												<option>Tyumen</option>
												<option>Chelyabinsk</option>
												<option>Moscow</option>
											</select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" title="Krasnodar"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Krasnodar</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-3" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
										</div>
									</div>
								</div>
								<div class="card-footer">
									<button class="btn btn-primary">UPDATE</button>
									<a href="page-register.html" class="btn-link">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
				