@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ">
    <div class="col-xl-12">
        <div class="page-titles">
            <div class="d-flex align-items-center">
                <h2 class="heading">Chart Peity</h2>
                <!-- <p class="text-warning ms-2">Welcome Back Yatin Sharma !</p> -->
            </div>
        </div>
    </div>
</div>
<!-- row -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="card-title mb-4">Attributes</h4>
                        <div class=" row">
                            <div class="col-md-2 col-sm-4 col-6">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;rgb(1,163,255)&quot;, &quot;rgba(149,104,255,1)&quot;], &quot;innerRadius&quot;: 10, &quot;radius&quot;: 40 }" style="display: none;">1/7</span><svg class="peity" height="80" width="80"><path d="M 40 0 A 40 40 0 0 1 71.2732592987212 15.060407925650662 L 47.8183148246803 33.76510198141266 A 10 10 0 0 0 40 30" data-value="1" fill="rgb(1,163,255)"></path><path d="M 71.2732592987212 15.060407925650662 A 40 40 0 1 1 39.99999999999999 0 L 40 30 A 10 10 0 1 0 47.8183148246803 33.76510198141266" data-value="6" fill="rgba(149,104,255,1)"></path></svg>
                            </div>
                            <div class="col-md-2 col-sm-4 col-6 mt-3 mt-md-0">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;rgb(98, 126, 234)&quot;, &quot;rgba(98, 126, 234, .5)&quot;], &quot;innerRadius&quot;: 14, &quot;radius&quot;: 36 }" style="display: none;">2/7</span><svg class="peity" height="72" width="72"><path d="M 36 0 A 36 36 0 0 1 71.09740483854566 44.010753622427316 L 49.64899077054553 39.1152930753884 A 14 14 0 0 0 36 22" data-value="2" fill="rgb(98, 126, 234)"></path><path d="M 71.09740483854566 44.010753622427316 A 36 36 0 1 1 35.99999999999999 0 L 36 22 A 14 14 0 1 0 49.64899077054553 39.1152930753884" data-value="5" fill="rgba(98, 126, 234, .5)"></path></svg>
                            </div>
                            <div class="col-md-2 col-sm-4 col-6 mt-3 mt-md-0">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;rgb(238, 60, 60)&quot;, &quot;rgba(238, 60, 60, .5)&quot;], &quot;innerRadius&quot;: 16, &quot;radius&quot;: 32 }" style="display: none;">3/7</span><svg class="peity" height="64" width="64"><path d="M 32 0 A 32 32 0 0 1 45.88427965176186 60.83100377287741 L 38.94213982588093 46.415501886438705 A 16 16 0 0 0 32 16" data-value="3" fill="rgb(238, 60, 60)"></path><path d="M 45.88427965176186 60.83100377287741 A 32 32 0 1 1 31.999999999999993 0 L 31.999999999999996 16 A 16 16 0 1 0 38.94213982588093 46.415501886438705" data-value="4" fill="rgba(238, 60, 60, .5)"></path></svg>
                            </div>
                            <div class="col-md-2 col-sm-4 col-6 mt-3 mt-md-0">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;rgb(54, 147, 255)&quot;, &quot;rgba(54, 147, 255, .5)&quot;],  &quot;innerRadius&quot;: 18, &quot;radius&quot;: 28 }" style="display: none;">4/7</span><svg class="peity" height="56" width="56"><path d="M 28 0 A 28 28 0 1 1 15.851255304708374 53.22712830126774 L 20.190092695883955 44.217439622243546 A 18 18 0 1 0 28 10" data-value="4" fill="rgb(54, 147, 255)"></path><path d="M 15.851255304708374 53.22712830126774 A 28 28 0 0 1 27.999999999999996 0 L 27.999999999999996 10 A 18 18 0 0 0 20.190092695883955 44.217439622243546" data-value="3" fill="rgba(54, 147, 255, .5)"></path></svg>
                            </div>
                            <div class="col-md-2 col-sm-4 col-6 mt-3 mt-md-0">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;rgb(255, 92, 0)&quot;, &quot;rgba(255, 92, 0, .5)&quot;],   &quot;innerRadius&quot;: 20, &quot;radius&quot;: 24 }" style="display: none;">5/7</span><svg class="peity" height="48" width="48"><path d="M 24 0 A 24 24 0 1 1 0.6017301076362322 29.340502414951548 L 4.501441756363526 28.45041867912629 A 20 20 0 1 0 24 4" data-value="5" fill="rgb(255, 92, 0)"></path><path d="M 0.6017301076362322 29.340502414951548 A 24 24 0 0 1 23.999999999999996 0 L 23.999999999999996 4 A 20 20 0 0 0 4.501441756363526 28.45041867912629" data-value="2" fill="rgba(255, 92, 0, .5)"></path></svg>
                            </div>
                            <div class="col-md-2 col-sm-4 col-6 mt-3 mt-md-0">
                                <span class="data-attr" data-peity="{ &quot;fill&quot;: [&quot;#24365c&quot;, &quot;rgba(36, 54, 92, .1)&quot;], &quot;innerRadius&quot;: 18, &quot;radius&quot;: 20 }" style="display: none;">6/7</span><svg class="peity" height="40" width="40"><path d="M 20 0 A 20 20 0 1 1 4.363370350639402 7.5302039628253326 L 5.927033315575461 8.7771835665428 A 18 18 0 1 0 20 2" data-value="6" fill="#24365c"></path><path d="M 4.363370350639402 7.5302039628253326 A 20 20 0 0 1 19.999999999999996 0 L 19.999999999999996 2 A 18 18 0 0 0 5.927033315575461 8.7771835665428" data-value="1" fill="rgba(36, 54, 92, .1)"></path></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Bar Chart</h4>
                        <div class="px-4">
                            <span class="bar" data-peity="{ &quot;fill&quot;: [&quot;rgb(1,163,255)&quot;, &quot;rgba(149,104,255,1)&quot;]}" style="display: none;">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><rect data-value="6" fill="#01a3ff" x="2.09992" y="33.33333333333334" width="16.799359999999997" height="66.66666666666666"></rect><rect data-value="2" fill="#ffaa2b" x="23.099120000000003" y="77.77777777777777" width="16.79935999999999" height="22.22222222222223"></rect><rect data-value="8" fill="#3693FF" x="44.09832" y="11.111111111111114" width="16.799359999999993" height="88.88888888888889"></rect><rect data-value="4" fill="#01a3ff" x="65.09752" y="55.55555555555556" width="16.799359999999993" height="44.44444444444444"></rect><rect data-value="3" fill="#ffaa2b" x="86.09671999999999" y="66.66666666666667" width="16.79936000000002" height="33.33333333333333"></rect><rect data-value="8" fill="#3693FF" x="107.09591999999998" y="11.111111111111114" width="16.79936000000002" height="88.88888888888889"></rect><rect data-value="1" fill="#01a3ff" x="128.09512" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect><rect data-value="3" fill="#ffaa2b" x="149.09431999999998" y="66.66666666666667" width="16.799360000000007" height="33.33333333333333"></rect><rect data-value="6" fill="#3693FF" x="170.09351999999998" y="33.33333333333334" width="16.799360000000007" height="66.66666666666666"></rect><rect data-value="5" fill="#01a3ff" x="191.09271999999999" y="44.44444444444444" width="16.799360000000007" height="55.55555555555556"></rect><rect data-value="9" fill="#ffaa2b" x="212.09192" y="0" width="16.799360000000007" height="100"></rect><rect data-value="2" fill="#3693FF" x="233.09112" y="77.77777777777777" width="16.79935999999998" height="22.22222222222223"></rect><rect data-value="8" fill="#01a3ff" x="254.09031999999996" y="11.111111111111114" width="16.799360000000036" height="88.88888888888889"></rect><rect data-value="1" fill="#ffaa2b" x="275.08952" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect><rect data-value="4" fill="#3693FF" x="296.08871999999997" y="55.55555555555556" width="16.799360000000036" height="44.44444444444444"></rect><rect data-value="8" fill="#01a3ff" x="317.08792" y="11.111111111111114" width="16.799360000000036" height="88.88888888888889"></rect><rect data-value="9" fill="#ffaa2b" x="338.08712" y="0" width="16.799359999999922" height="100"></rect><rect data-value="8" fill="#3693FF" x="359.08632" y="11.111111111111114" width="16.79935999999998" height="88.88888888888889"></rect><rect data-value="2" fill="#01a3ff" x="380.08552" y="77.77777777777777" width="16.79935999999998" height="22.22222222222223"></rect><rect data-value="1" fill="#ffaa2b" x="401.08472" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect></svg>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Bar Chart</h4>
                        <div class="px-4">
                            <span class="bar" data-peity="{ &quot;fill&quot;: [&quot;rgb(0, 0, 128)&quot;, &quot;rgb(7, 135, 234)&quot;]}" style="display: none;">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><rect data-value="6" fill="#01a3ff" x="2.09992" y="17.64705882352942" width="16.799359999999997" height="35.29411764705882"></rect><rect data-value="2" fill="#ffaa2b" x="23.099120000000003" y="41.17647058823529" width="16.79935999999999" height="11.76470588235295"></rect><rect data-value="8" fill="#3693FF" x="44.09832" y="5.882352941176478" width="16.799359999999993" height="47.05882352941176"></rect><rect data-value="4" fill="#01a3ff" x="65.09752" y="29.411764705882348" width="16.799359999999993" height="23.52941176470589"></rect><rect data-value="-3" fill="#ffaa2b" x="86.09671999999999" y="52.94117647058824" width="16.79936000000002" height="17.647058823529413"></rect><rect data-value="8" fill="#3693FF" x="107.09591999999998" y="5.882352941176478" width="16.79936000000002" height="47.05882352941176"></rect><rect data-value="1" fill="#01a3ff" x="128.09512" y="47.05882352941176" width="16.79935999999998" height="5.882352941176478"></rect><rect data-value="-3" fill="#ffaa2b" x="149.09431999999998" y="52.94117647058824" width="16.799360000000007" height="17.647058823529413"></rect><rect data-value="6" fill="#3693FF" x="170.09351999999998" y="17.64705882352942" width="16.799360000000007" height="35.29411764705882"></rect><rect data-value="-5" fill="#01a3ff" x="191.09271999999999" y="52.94117647058824" width="16.799360000000007" height="29.41176470588234"></rect><rect data-value="9" fill="#ffaa2b" x="212.09192" y="0" width="16.799360000000007" height="52.94117647058824"></rect><rect data-value="2" fill="#3693FF" x="233.09112" y="41.17647058823529" width="16.79935999999998" height="11.76470588235295"></rect><rect data-value="-8" fill="#01a3ff" x="254.09031999999996" y="52.94117647058824" width="16.799360000000036" height="47.05882352941176"></rect><rect data-value="1" fill="#ffaa2b" x="275.08952" y="47.05882352941176" width="16.79935999999998" height="5.882352941176478"></rect><rect data-value="4" fill="#3693FF" x="296.08871999999997" y="29.411764705882348" width="16.799360000000036" height="23.52941176470589"></rect><rect data-value="8" fill="#01a3ff" x="317.08792" y="5.882352941176478" width="16.799360000000036" height="47.05882352941176"></rect><rect data-value="9" fill="#ffaa2b" x="338.08712" y="0" width="16.799359999999922" height="52.94117647058824"></rect><rect data-value="8" fill="#3693FF" x="359.08632" y="5.882352941176478" width="16.79935999999998" height="47.05882352941176"></rect><rect data-value="2" fill="#01a3ff" x="380.08552" y="41.17647058823529" width="16.79935999999998" height="11.76470588235295"></rect><rect data-value="1" fill="#ffaa2b" x="401.08472" y="47.05882352941176" width="16.79935999999998" height="5.882352941176478"></rect></svg>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Bar Chart</h4>
                        <div class="px-4">
                            <span class="bar" data-peity="{ &quot;fill&quot;: [&quot;rgb(7, 135, 234)&quot;, &quot;rgb(0, 0, 128)&quot;]}" style="display: none;">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><rect data-value="6" fill="#01a3ff" x="2.09992" y="33.33333333333334" width="16.799359999999997" height="66.66666666666666"></rect><rect data-value="2" fill="#ffaa2b" x="23.099120000000003" y="77.77777777777777" width="16.79935999999999" height="22.22222222222223"></rect><rect data-value="8" fill="#3693FF" x="44.09832" y="11.111111111111114" width="16.799359999999993" height="88.88888888888889"></rect><rect data-value="4" fill="#01a3ff" x="65.09752" y="55.55555555555556" width="16.799359999999993" height="44.44444444444444"></rect><rect data-value="3" fill="#ffaa2b" x="86.09671999999999" y="66.66666666666667" width="16.79936000000002" height="33.33333333333333"></rect><rect data-value="8" fill="#3693FF" x="107.09591999999998" y="11.111111111111114" width="16.79936000000002" height="88.88888888888889"></rect><rect data-value="1" fill="#01a3ff" x="128.09512" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect><rect data-value="3" fill="#ffaa2b" x="149.09431999999998" y="66.66666666666667" width="16.799360000000007" height="33.33333333333333"></rect><rect data-value="6" fill="#3693FF" x="170.09351999999998" y="33.33333333333334" width="16.799360000000007" height="66.66666666666666"></rect><rect data-value="5" fill="#01a3ff" x="191.09271999999999" y="44.44444444444444" width="16.799360000000007" height="55.55555555555556"></rect><rect data-value="9" fill="#ffaa2b" x="212.09192" y="0" width="16.799360000000007" height="100"></rect><rect data-value="2" fill="#3693FF" x="233.09112" y="77.77777777777777" width="16.79935999999998" height="22.22222222222223"></rect><rect data-value="8" fill="#01a3ff" x="254.09031999999996" y="11.111111111111114" width="16.799360000000036" height="88.88888888888889"></rect><rect data-value="1" fill="#ffaa2b" x="275.08952" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect><rect data-value="4" fill="#3693FF" x="296.08871999999997" y="55.55555555555556" width="16.799360000000036" height="44.44444444444444"></rect><rect data-value="8" fill="#01a3ff" x="317.08792" y="11.111111111111114" width="16.799360000000036" height="88.88888888888889"></rect><rect data-value="9" fill="#ffaa2b" x="338.08712" y="0" width="16.799359999999922" height="100"></rect><rect data-value="8" fill="#3693FF" x="359.08632" y="11.111111111111114" width="16.79935999999998" height="88.88888888888889"></rect><rect data-value="2" fill="#01a3ff" x="380.08552" y="77.77777777777777" width="16.79935999999998" height="22.22222222222223"></rect><rect data-value="1" fill="#ffaa2b" x="401.08472" y="88.88888888888889" width="16.79935999999998" height="11.111111111111114"></rect></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Line Chart</h4>
                        <div class="px-4">
                            <span class="peity-line" data-width="100%" style="display: none;">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><polygon fill="rgba(1,163,255,1)" points="0 99.5 0 33.5 22.10442105263158 77.5 44.20884210526316 11.5 66.31326315789474 55.5 88.41768421052632 66.5 110.5221052631579 11.5 132.62652631578948 88.5 154.73094736842106 66.5 176.83536842105264 33.5 198.93978947368421 44.5 221.0442105263158 0.5 243.14863157894737 77.5 265.25305263157895 11.5 287.3574736842105 88.5 309.4618947368421 55.5 331.5663157894737 11.5 353.67073684210527 0.5 375.7751578947368 11.5 397.87957894736843 77.5 419.98400000000004 88.5 419.984 99.5"></polygon><polyline fill="none" points="0 33.5 22.10442105263158 77.5 44.20884210526316 11.5 66.31326315789474 55.5 88.41768421052632 66.5 110.5221052631579 11.5 132.62652631578948 88.5 154.73094736842106 66.5 176.83536842105264 33.5 198.93978947368421 44.5 221.0442105263158 0.5 243.14863157894737 77.5 265.25305263157895 11.5 287.3574736842105 88.5 309.4618947368421 55.5 331.5663157894737 11.5 353.67073684210527 0.5 375.7751578947368 11.5 397.87957894736843 77.5 419.98400000000004 88.5" stroke="#01a3ff" stroke-width="1" stroke-linecap="square"></polyline></svg>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Line Chart</h4>
                        <div class="px-4">
                            <span class="peity-line" data-width="100%" style="display: none;">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><polygon fill="rgba(1,163,255,1)" points="0 52.911764705882355 0 17.970588235294116 22.10442105263158 41.26470588235294 44.20884210526316 6.32352941176471 66.31326315789474 29.617647058823522 88.41768421052632 70.38235294117646 110.5221052631579 6.32352941176471 132.62652631578948 47.088235294117645 154.73094736842106 70.38235294117646 176.83536842105264 17.970588235294116 198.93978947368421 82.02941176470588 221.0442105263158 0.5 243.14863157894737 41.26470588235294 265.25305263157895 99.5 287.3574736842105 47.088235294117645 309.4618947368421 29.617647058823522 331.5663157894737 6.32352941176471 353.67073684210527 0.5 375.7751578947368 6.32352941176471 397.87957894736843 41.26470588235294 419.98400000000004 47.088235294117645 419.984 52.911764705882355"></polygon><polyline fill="none" points="0 17.970588235294116 22.10442105263158 41.26470588235294 44.20884210526316 6.32352941176471 66.31326315789474 29.617647058823522 88.41768421052632 70.38235294117646 110.5221052631579 6.32352941176471 132.62652631578948 47.088235294117645 154.73094736842106 70.38235294117646 176.83536842105264 17.970588235294116 198.93978947368421 82.02941176470588 221.0442105263158 0.5 243.14863157894737 41.26470588235294 265.25305263157895 99.5 287.3574736842105 47.088235294117645 309.4618947368421 29.617647058823522 331.5663157894737 6.32352941176471 353.67073684210527 0.5 375.7751578947368 6.32352941176471 397.87957894736843 41.26470588235294 419.98400000000004 47.088235294117645" stroke="#01a3ff" stroke-width="1" stroke-linecap="square"></polyline></svg>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-4">
                        <h4 class="card-title mb-4">Line Chart</h4>
                        <div class="px-4">
                            <span class="peity-line" data-width="100%" style="display: none;">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span><svg class="peity" height="100" width="100%"><polygon fill="rgba(1,163,255,1)" points="0 99.5 0 33.5 22.10442105263158 77.5 44.20884210526316 11.5 66.31326315789474 55.5 88.41768421052632 66.5 110.5221052631579 11.5 132.62652631578948 88.5 154.73094736842106 66.5 176.83536842105264 33.5 198.93978947368421 44.5 221.0442105263158 0.5 243.14863157894737 77.5 265.25305263157895 11.5 287.3574736842105 88.5 309.4618947368421 55.5 331.5663157894737 11.5 353.67073684210527 0.5 375.7751578947368 11.5 397.87957894736843 77.5 419.98400000000004 88.5 419.984 99.5"></polygon><polyline fill="none" points="0 33.5 22.10442105263158 77.5 44.20884210526316 11.5 66.31326315789474 55.5 88.41768421052632 66.5 110.5221052631579 11.5 132.62652631578948 88.5 154.73094736842106 66.5 176.83536842105264 33.5 198.93978947368421 44.5 221.0442105263158 0.5 243.14863157894737 77.5 265.25305263157895 11.5 287.3574736842105 88.5 309.4618947368421 55.5 331.5663157894737 11.5 353.67073684210527 0.5 375.7751578947368 11.5 397.87957894736843 77.5 419.98400000000004 88.5" stroke="#01a3ff" stroke-width="1" stroke-linecap="square"></polyline></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 1</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#F44336&quot;, &quot;rgba(244, 67, 54, .1)&quot;]}" style="display: none;">5/8</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 1 1 14.64466094067263 85.35533905932738 L 50 50" data-value="5" fill="#01a3ff"></path><path d="M 14.64466094067263 85.35533905932738 A 50 50 0 0 1 49.99999999999999 0 L 50 50" data-value="3" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 2</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#34C73B&quot;, &quot;rgba(52, 199, 59, .1)&quot;]}" style="display: none;">250/650</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 83.15613291203975 87.42553740855506 L 50 50" data-value="250" fill="#01a3ff"></path><path d="M 83.15613291203975 87.42553740855506 A 50 50 0 1 1 49.99999999999999 0 L 50 50" data-value="400" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 3</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#00A2FF&quot;, &quot;rgba(0, 162, 255, .1)&quot;]}" style="display: none;">0.52/1.561</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 93.33477372698853 74.94188016230342 L 50 50" data-value="0.52" fill="#01a3ff"></path><path d="M 93.33477372698853 74.94188016230342 A 50 50 0 1 1 49.99999999999999 0 L 50 50" data-value="1.041" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 4</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#28D6C3 &quot;, &quot;rgba(40, 214, 195, .1)&quot;]}" style="display: none;">1,4</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 97.55282581475768 34.54915028125263 L 50 50" data-value="1" fill="#01a3ff"></path><path d="M 97.55282581475768 34.54915028125263 A 50 50 0 1 1 49.99999999999999 0 L 50 50" data-value="4" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 5</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#0000FF&quot;, &quot;rgba(0, 0, 255, .1)&quot;]}" style="display: none;">226,134</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 1 1 14.033009983067451 84.73291852294987 L 50 50" data-value="226" fill="#01a3ff"></path><path d="M 14.033009983067451 84.73291852294987 A 50 50 0 0 1 49.99999999999999 0 L 50 50" data-value="134" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Pie 6</h4>
                        <div class="">
                            <span class="pie" data-peity="{ &quot;fill&quot;: [&quot;#DCDCDC&quot;, &quot;rgba(220, 220, 220, .1)&quot;]}" style="display: none;">0.52,1.041</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 93.33477372698853 74.94188016230342 L 50 50" data-value="0.52" fill="#01a3ff"></path><path d="M 93.33477372698853 74.94188016230342 A 50 50 0 1 1 49.99999999999999 0 L 50 50" data-value="1.041" fill="rgba(1,163,255, .3)"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 1</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;rgb(1,163,255)&quot;, &quot;rgba(185,168,255,1)&quot;]}" style="display: none;">5/8</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 1 1 14.64466094067263 85.35533905932738 L 32.32233047033631 67.67766952966369 A 25 25 0 1 0 50 25" data-value="5" fill="rgb(1,163,255)"></path><path d="M 14.64466094067263 85.35533905932738 A 50 50 0 0 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 0 0 32.32233047033631 67.67766952966369" data-value="3" fill="rgba(185,168,255,1)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 2</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;rgb(98, 126, 234)&quot;, &quot;rgba(98, 126, 234, .5)&quot;]}" style="display: none;">250/650</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 83.15613291203975 87.42553740855506 L 66.57806645601988 68.71276870427752 A 25 25 0 0 0 50 25" data-value="250" fill="rgb(98, 126, 234)"></path><path d="M 83.15613291203975 87.42553740855506 A 50 50 0 1 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 1 0 66.57806645601988 68.71276870427752" data-value="400" fill="rgba(98, 126, 234, .5)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 3</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;rgb(238, 60, 60)&quot;, &quot;rgba(238, 60, 60, .5)&quot;]}" style="display: none;">0.52/1.561</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 93.33477372698853 74.94188016230342 L 71.66738686349427 62.47094008115171 A 25 25 0 0 0 50 25" data-value="0.52" fill="rgb(238, 60, 60)"></path><path d="M 93.33477372698853 74.94188016230342 A 50 50 0 1 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 1 0 71.66738686349427 62.47094008115171" data-value="1.041" fill="rgba(238, 60, 60, .5)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 4</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;rgb(54, 147, 255)&quot;, &quot;rgba(54, 147, 255, .5)&quot;, &quot;rgba(54, 147, 255, .3)&quot;,]}" style="display: none;">1,4,5</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 79.38926261462366 9.54915028125263 L 64.69463130731182 29.774575140626315 A 25 25 0 0 0 50 25" data-value="1" fill="#ff9900"></path><path d="M 79.38926261462366 9.54915028125263 A 50 50 0 0 1 50 100 L 50 75 A 25 25 0 0 0 64.69463130731182 29.774575140626315" data-value="4" fill="#fff4dd"></path><path d="M 50 100 A 50 50 0 0 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 0 0 50 75" data-value="5" fill="#ffc66e"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 5</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;rgb(255, 92, 0)&quot;, &quot;rgba(255, 92, 0, .5)&quot;]}" style="display: none;">226,134</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 1 1 14.033009983067451 84.73291852294987 L 32.01650499153372 67.36645926147494 A 25 25 0 1 0 50 25" data-value="226" fill="rgb(255, 92, 0)"></path><path d="M 14.033009983067451 84.73291852294987 A 50 50 0 0 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 0 0 32.01650499153372 67.36645926147494" data-value="134" fill="rgba(255, 92, 0, .5)"></path></svg>
                        </div>
                    </div>
                    <div class="col-xl-2 col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="card-title mb-4">Donut 6</h4>
                        <div class="">
                            <span class="donut" data-peity="{ &quot;fill&quot;: [&quot;#24365c&quot;, &quot;rgba(185,168,255,1)&quot;]}" style="display: none;">0.52,1.041</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 93.33477372698853 74.94188016230342 L 71.66738686349427 62.47094008115171 A 25 25 0 0 0 50 25" data-value="0.52" fill="#24365c"></path><path d="M 93.33477372698853 74.94188016230342 A 50 50 0 1 1 49.99999999999999 0 L 49.99999999999999 25 A 25 25 0 1 0 71.66738686349427 62.47094008115171" data-value="1.041" fill="rgba(185,168,255,1)"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-3 col-6 pb-4">
                        <h4 class="card-title mb-4">Bar Color 1</h4>
                        <div>
                            <span class="bar-colours-1" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="100" width="100"><rect data-value="5" fill="#01a3ff" x="1" y="44.44444444444444" width="8" height="55.55555555555556"></rect><rect data-value="3" fill="#ffaa2b" x="11.000000000000002" y="66.66666666666667" width="7.999999999999998" height="33.33333333333333"></rect><rect data-value="9" fill="#3693FF" x="21" y="0" width="8" height="100"></rect><rect data-value="6" fill="#01a3ff" x="31" y="33.33333333333334" width="8" height="66.66666666666666"></rect><rect data-value="5" fill="#ffaa2b" x="40.99999999999999" y="44.44444444444444" width="8.000000000000014" height="55.55555555555556"></rect><rect data-value="9" fill="#3693FF" x="50.99999999999999" y="0" width="8.000000000000007" height="100"></rect><rect data-value="7" fill="#01a3ff" x="61" y="22.222222222222214" width="8" height="77.77777777777779"></rect><rect data-value="3" fill="#ffaa2b" x="71" y="66.66666666666667" width="8" height="33.33333333333333"></rect><rect data-value="5" fill="#3693FF" x="81" y="44.44444444444444" width="8" height="55.55555555555556"></rect><rect data-value="2" fill="#01a3ff" x="91" y="77.77777777777777" width="8" height="22.22222222222223"></rect></svg>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 pb-4">
                        <h4 class="card-title mb-4">Bar Color 2</h4>
                        <div>
                            <span class="bar-colours-2" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span><svg class="peity" height="100" width="100"><rect data-value="5" fill="rgb(58, 0, 254)" x="1" y="0" width="8" height="62.5"></rect><rect data-value="3" fill="rgb(58, 12, 254)" x="11.000000000000002" y="25" width="7.999999999999998" height="37.5"></rect><rect data-value="2" fill="rgb(58, 24, 254)" x="21" y="37.5" width="8" height="25"></rect><rect data-value="-1" fill="rgb(58, 36, 254)" x="31" y="62.5" width="8" height="12.5"></rect><rect data-value="-3" fill="rgb(58, 48, 254)" x="40.99999999999999" y="62.5" width="8.000000000000014" height="37.5"></rect><rect data-value="-2" fill="rgb(58, 61, 254)" x="50.99999999999999" y="62.5" width="8.000000000000007" height="25"></rect><rect data-value="2" fill="rgb(58, 73, 254)" x="61" y="37.5" width="8" height="25"></rect><rect data-value="3" fill="rgb(58, 85, 254)" x="71" y="25" width="8" height="37.5"></rect><rect data-value="5" fill="rgb(58, 97, 254)" x="81" y="0" width="8" height="62.5"></rect><rect data-value="2" fill="rgb(58, 109, 254)" x="91" y="37.5" width="8" height="25"></rect></svg>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 pb-4">
                        <h4 class="card-title mb-4">Bar Color 3</h4>
                        <div>
                            <span class="bar-colours-3" style="display: none;">0,-3,-6,-4,-5,-4,-7,-3,-5,-2</span><svg class="peity" height="100" width="100"><rect data-value="0" fill="rgb(16, 0, 147)" x="1" y="0" width="8" height="1"></rect><rect data-value="-3" fill="rgb(16, 20, 147)" x="11.000000000000002" y="0" width="7.999999999999998" height="42.85714285714286"></rect><rect data-value="-6" fill="rgb(16, 40, 147)" x="21" y="0" width="8" height="85.71428571428572"></rect><rect data-value="-4" fill="rgb(16, 60, 147)" x="31" y="0" width="8" height="57.142857142857146"></rect><rect data-value="-5" fill="rgb(16, 80, 147)" x="40.99999999999999" y="0" width="8.000000000000014" height="71.42857142857143"></rect><rect data-value="-4" fill="rgb(16, 101, 147)" x="50.99999999999999" y="0" width="8.000000000000007" height="57.142857142857146"></rect><rect data-value="-7" fill="rgb(16, 121, 147)" x="61" y="0" width="8" height="100"></rect><rect data-value="-3" fill="rgb(16, 141, 147)" x="71" y="0" width="8" height="42.85714285714286"></rect><rect data-value="-5" fill="rgb(16, 161, 147)" x="81" y="0" width="8" height="71.42857142857143"></rect><rect data-value="-2" fill="rgb(16, 181, 147)" x="91" y="0" width="8" height="28.57142857142857"></rect></svg>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 pb-4">
                        <h4 class="card-title mb-4">Pie Color</h4>
                        <div>
                            <span class="pie-colours-2" style="display: none;">5,3,9,6,5</span><svg class="peity" height="100" width="100"><path d="M 50 0 A 50 50 0 0 1 95.04844339512096 28.305813044122093 L 50 50" data-value="5" fill="#01a3ff"></path><path d="M 95.04844339512096 28.305813044122093 A 50 50 0 0 1 98.74639560909118 61.126046697815724 L 50 50" data-value="3" fill="#ffaa2b"></path><path d="M 98.74639560909118 61.126046697815724 A 50 50 0 0 1 18.825509907063342 89.0915741234015 L 50 50" data-value="9" fill="#3693FF"></path><path d="M 18.825509907063342 89.0915741234015 A 50 50 0 0 1 4.951556604879045 28.3058130441221 L 50 50" data-value="6" fill="#ff5c00"></path><path d="M 4.951556604879045 28.3058130441221 A 50 50 0 0 1 49.99999999999999 0 L 50 50" data-value="5" fill="#EE3C3C"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title mb-4">Live Update</h4>
                        <div class="">
                            <span class="updating-chart" style="display: none;">2,5,3,9,6,5,9,7,3,5,2,1,5,0,4,9,3,1,8,8</span><svg class="peity" height="100" width="100%"><polygon fill="rgba(149,104,255,1)" points="0 99.5 0 77.5 78.94736842105263 44.5 157.89473684210526 66.5 236.8421052631579 0.5 315.7894736842105 33.5 394.7368421052631 44.5 473.6842105263158 0.5 552.6315789473684 22.5 631.578947368421 66.5 710.5263157894736 44.5 789.4736842105262 77.5 868.421052631579 88.5 947.3684210526316 44.5 1026.3157894736842 99.5 1105.2631578947369 55.5 1184.2105263157894 0.5 1263.157894736842 66.5 1342.1052631578948 88.5 1421.0526315789473 11.5 1500 11.5 1500 99.5"></polygon><polyline fill="none" points="0 77.5 78.94736842105263 44.5 157.89473684210526 66.5 236.8421052631579 0.5 315.7894736842105 33.5 394.7368421052631 44.5 473.6842105263158 0.5 552.6315789473684 22.5 631.578947368421 66.5 710.5263157894736 44.5 789.4736842105262 77.5 868.421052631579 88.5 947.3684210526316 44.5 1026.3157894736842 99.5 1105.2631578947369 55.5 1184.2105263157894 0.5 1263.157894736842 66.5 1342.1052631578948 88.5 1421.0526315789473 11.5 1500 11.5" stroke="rgb(1,163,255)" stroke-width="1" stroke-linecap="square"></polyline></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
