@{
    ViewData["Title"] = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="page-titles">
            <div class="d-flex align-items-center">
                <h2 class="heading">Chart Sparkline </h2>
                <!-- <p class="text-warning ms-2">Welcome Back Yatin Sharma !</p> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Line Chart</h4>
            </div>
            <div class="card-body">
                <span id="sparklinedash"><canvas width="130" height="50" style="display: inline-block; width: 130px; height: 50px; vertical-align: top;"></canvas></span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Site Traffic</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="sparkline8"><canvas width="307" height="50" style="display: inline-block; width: 307.5px; height: 50px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Site Traffic</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="sparkline9"><canvas width="307" height="50" style="display: inline-block; width: 307.5px; height: 50px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bar Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="spark-bar"><canvas width="188" height="200" style="display: inline-block; width: 188px; height: 200px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Stacked Bar Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="StackedBarChart"><canvas width="61" height="200" style="display: inline-block; width: 61px; height: 200px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tristate charts</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="tristate"><canvas width="197" height="200" style="display: inline-block; width: 197px; height: 200px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Composite Line Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="sparkline-composite-chart"><canvas width="307" height="200" style="display: inline-block; width: 307.5px; height: 200px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Composite Bar Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="composite-bar"><canvas width="208" height="200" style="display: inline-block; width: 208px; height: 200px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bullet Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="bullet-chart"><canvas width="307" height="100" style="display: inline-block; width: 307.5px; height: 100px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Pie Chart</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="sparkline11"><canvas width="100" height="100" style="display: inline-block; width: 100px; height: 100px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Box Plot</h4>
            </div>
            <div class="card-body">
                <div class="ico-sparkline">
                    <div id="boxplot"><canvas width="56" height="20" style="display: inline-block; width: 56px; height: 20px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
